.DS_STORE
*.log
npm-debug.log.*
nohup.out

node_modules

dist
coverage

target
.settings
.project

src/static/bower_components
src/layout.js

# Environment files
src/static/env.js
serverEnv.js

*.json.gzip
