/* Theam 1 Colors */

$PebbleColor: #6b7282;
$GarnetColor: #24293d;
$GrapeColor: #444c63;
$SmokeColor: #cbcbd1;
$CloudColor: #f0f0f2;
$ArcticColor: #ffffff;
$TurquoiseColor: #2bd8d0;

$CherryColor: #24293d;
$CoralColor: #F69275;
$SeafoamColor: #bdbdc6;

$WhiteColor: #fff;
$BlackColor: #000;

$CoralColorShade1: #F7A48B;
$CoralColorShade2: #F69275;
$CloudColorShade0: #e5e5ea;
$CloudColorShade1: rgb(68, 76, 99);
$CloudColorShade2: #F7F7F9;
$CloudColorShade3: rgba($GarnetColor, 0.3);
$CloudColorShade4: #DFDFE3;
$CloudColorShade5: #CBCBD1;
$CloudColorShade6: #EAEAED;
$CloudColorShade7: #888D9A;
$CloudColorShade8: #E1E1E5;
$CloudColorShade9: #FAFAFB;
