.vis-network-tooltip {
  position: absolute;
  visibility: hidden;
  padding: 5px;
  white-space: nowrap;

  font-family: 'Open Sans';
  font-size: 14px;
  color: #24293D;
  background-color: $CloudColor;
  border: 0px;
  pointer-events: none;
}

.vis-network .vis-navigation .vis-button:hover {
}

.vis-network .vis-navigation .vis-button:active {
}

.vis-network .vis-navigation .vis-button.vis-zoomIn {
  background-image: url("../static/img/plus.png");
  bottom: 30px;
  position: absolute;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.vis-network .vis-navigation .vis-button.vis-zoomOut {
  background-image: url("../static/img/minus.png");
  bottom: 0px;
  position: absolute;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.vis-network .vis-navigation .vis-button.vis-zoomExtends {
  background-image: url("../static/img/zoomExtends.png");
  bottom: 60px;
  position: absolute;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.vis-network .vis-navigation .vis-button.vis-undo {
  background-image: url("../static/img/undo.png");
  bottom: 90px;
  position: absolute;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.vis-network .vis-navigation .vis-button.vis-reset {
  background-image: url("../static/img/reset.png");
  bottom: 120px;
  position: absolute;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.context-menu table tr td {
  padding: 10px 25px;
  font-size: 13px;
  cursor: pointer;
  color: $GrapeColor;
  font-weight: lighter;
}

ul.no-list-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu div li {
  list-style: none;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#actions table tr td:hover {
  background-color: $CloudColorShade9;
}

#network-graph > div {
  height: 100%;
}
