.threatTable table {
  /*border: 1px solid #373737;*/
  /*margin-bottom: 20px;*/
  text-align: left;
  width:100% !important;
 }

.threatTable th {
  padding: 10px;
  padding-bottom: 16px;
  font-size: 13px;
  background: $WhiteColor;
  color: $GrapeColor;
  text-align: left;
  cursor: pointer;
  font-weight: normal;
 }

.threatTable td {
  font-size: 13px;
  padding: 15px;
  color: $MustardColor;
  vertical-align: top;
 }

.reactable-page-button, .reactable-previous-page, .reactable-next-page {
  margin-left: 5px;
  margin-right: 2px;
  margin-bottom: 6px;
  padding: 3px;
  width: 30px;
  float: left;
  cursor: pointer;
  color: $BlackColor;
  border: 1px solid #AAA;
  background-color: #EEE;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}
.reactable-next-page {
  margin-left: 5px;
  margin-right: 2px;
  margin-bottom: 6px;
  padding: 3px;
  width: 55px;
  float: left;
  cursor: pointer;
  color: $BlackColor;
  border: 1px solid #AAA;
  background-color: #EEE;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}
.reactable-previous-page {
  margin-left: 5px;
  margin-right: 2px;
  margin-bottom: 6px;
  padding: 3px;
  width: 75px;
  float: left;
  cursor: pointer;
  color: $BlackColor;
  border: 1px solid #AAA;
  background-color: #EEE;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}
.reactable-page-button:hover, .reactable-previous-page:hover, .reactable-next-page:hover {
  text-decoration: none;
  color: #333;
  background-color: #DDD;
}

.reactable-current-page, .reactable-current-page:hover {
  background-color: #00bcd4;
  cursor: default;
}

.threatTable th.reactable-header-sort-desc, .threatTable th.reactable-header-sort-asc {
  background: $WhiteColor;
}

.threatTable th.reactable-header-sort-desc:after {
  content: '\25B2';
  font-size: 13px;
  padding-left: 10px;
  padding-bottom: 5px;
  font-weight: semibold;
}

.threatTable th.reactable-header-sort-asc:after {
  content: '\25BC';
  font-size: 13px;
  padding-left: 10px;
  padding-bottom: 5px;
  font-weight: semibold;
}

tr.reactable-filterer {
  width: 100%;
}

tr.reactable-filterer td {
  width: 100%;
}

.threatTable tr:nth-child(even) {background: $WhiteColor}
.threatTable tr:nth-child(odd) {background: $CloudColorShade2;}

.threatTable tr:nth-child(even) td div.scoreWidget {background: $CoralColorShade1}
.threatTable tr:nth-child(odd) td div.scoreWidget {background: $CoralColorShade2}
.threatTable tr:nth-child(even) td span.description {color: $CoralColorShade1; font-weight: 600; font-size: 14px;}
.threatTable tr:nth-child(odd) td span.description {color: $CoralColorShade2; font-weight: 600; font-size: 14px;}

.threatTable tr td span.title {color: $CloudColorShade1; font-weight: 600; font-size: 14px;}
.threatTable tr td span.heading {color: $CloudColorShade1; font-weight: 600; font-size: 13px;}

.reactable-filter-input {
  width: 95%;
  margin-left: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 20px;
  padding: 5px;
}

.searchText {
  width: 50%;
  background: $CloudColorShade2;
  border: 0px;
  height:35px;
  padding-left:53px;
  padding-right: 40px;
  font-size:13px;
}

.chartCaption {
  color: #555555;
  font-family: Verdana,sans;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}

.text-center {
  text-align: center;
}

.duration {
  padding:8px;float:left;font-size:13px;
}

.durationSeparator {
    padding:8px 5px 5px;background-color:transparent;float:left;font-size:13px;
}
.durationLabel {
    padding: 1px 7px 0px;background-color:transparent;float:left;font-size:12px;
}
