:global {
  @import 'base';
  @import 'vendor/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  #base {
    padding-left: 72px;
    padding-top: 64px;
    box-sizing: border-box;
  }

  /*** Following Style is Added for Table Component (START) ***/
  .threatTable table {
    border: 1px solid #373737;
    margin-bottom: 20px;
    text-align: left;
    width:100% !important;
   }

  .threatTable th {
    padding: 10px;
    padding-bottom: 16px;
    font-size: 14px;
    background: rgb(255, 255, 255);
    color: rgb(68, 76, 99);
    text-align: left;
    cursor: pointer;
   }

  .threatTable td {
    font-size: 14px;
    padding: 10px;
    color: #555;
    vertical-align: top;
    /*border: 1px solid #00bcd4;*/
   }

  .reactable-page-button, .reactable-previous-page, .reactable-next-page {
    margin-left: 5px;
    margin-right: 2px;
    margin-bottom: 6px;
    padding: 3px;
    width: 30px;
    float: left;
    cursor: pointer;
    color: #000;
    border: 1px solid #AAA;
    background-color: #EEE;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
  }
  .reactable-next-page {
    margin-left: 5px;
    margin-right: 2px;
    margin-bottom: 6px;
    padding: 3px;
    width: 55px;
    float: left;
    cursor: pointer;
    color: #000;
    border: 1px solid #AAA;
    background-color: #EEE;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
  }
  .reactable-previous-page {
    margin-left: 5px;
    margin-right: 2px;
    margin-bottom: 6px;
    padding: 3px;
    width: 75px;
    float: left;
    cursor: pointer;
    color: #000;
    border: 1px solid #AAA;
    background-color: #EEE;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
  }
  .reactable-page-button:hover, .reactable-previous-page:hover, .reactable-next-page:hover {
    text-decoration: none;
    color: #333;
    background-color: #DDD;
  }

  .reactable-current-page, .reactable-current-page:hover {
    background-color: #00bcd4;
    cursor: default;
  }

  .threatTable th.reactable-header-sort-desc, .threatTable th.reactable-header-sort-asc {
    background: rgb(255, 255, 255);
  }

  .threatTable th.reactable-header-sort-desc:after {
    content: '\25B2';
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 5px;
  }

  .threatTable th.reactable-header-sort-asc:after {
    content: '\25BC';
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 5px;
  }

  tr.reactable-filterer {
    width: 100%;
  }

  tr.reactable-filterer td {
    width: 100%;
  }

  .threatTable tr:nth-child(even) {background: #fff}
  .threatTable tr:nth-child(odd) {background: #F7F7F9}

  .threatTable tr:nth-child(even) td div.scoreWidget {background: #F7A48B}
  .threatTable tr:nth-child(odd) td div.scoreWidget {background: #F69275}

  .reactable-filter-input {
    width: 95%;
    margin-left: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 20px;
    padding: 5px;
  }

  /*** Following Style is Added for Table Component (END) ***/

  .loadedContent {
    width:100% !important;
  }

  .chartCaption {
    color: #555555;
    font-family: Verdana,sans;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
    width: 100%;
  }

  .text-center {
    text-align: center;
  }

  .duration {
    padding:16px;background-color:#cdcdcd;float:left;font-size:16px;
  }

  .durationSeparator {
      padding:16px 5px 5px;background-color:transparent;float:left;font-size:16px;
  }
  .durationLabel {
      padding: 1px 14px 0;background-color:transparent;float:left;font-size:12px;
  }
  .tableCaption {
    width:100%;color: #555555;font-family: Verdana,sans;font-size: 14px;font-weight: bold;padding:10px;
  }
}
