:global {
  @import 'base';
  @import 'vendor/normalize';
  @import 'color';
  @import 'table';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  #base {
    padding-left: 72px;
    padding-top: 64px;
    box-sizing: border-box;
  }

  /*.refreshIcon {
    cursor: 'pointer';
    font-size: '20px';
    color: 'red';
    font-weight: 600;
  }*/
}
