@import '../../styles/color';

.context-menu table tr td {
  padding: 10px 25px;
  font-size: 13px;
  cursor: pointer;
  color: $GrapeColor;
}

ul.no-list-style {
  list-style: none;
  margin: 0;
  padding: 0;
  word-break: break-word;
}

.context-menu div li {
  list-style: none;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#actions table tr td:hover {
  background-color: $CloudColorShade9;
}
