.sidebar {
  width: 72px;
  overflow: hidden;
  transition: width 0.2s;
}

.sidebar:hover {
  width: 185px;
}

.search {
  transition: left 0.2s;
}

.sidebar:hover + .search {
  left: 185px !important;
}